COMMUNICATION
All communication takes place through personal messages of telegram correspondence between the project participants, as well as in the auditorium 1111 directly with the teacher Andrianova A.A.
CODEWRITING
all code should be written in a clear language, with an emphasis on a functional approach and compliance with all rules for naming variables and functions, that is:
1) Сlasses of the format_class format
2) Funvtions of the FormatFunctions format
3) Variables of the formatVariables format
